<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container name="Default">
    <register type="Platform.Infrastructure.DataBaseContext.IRepositoryContext,Platform.Infrastructure"
              mapTo="Platform.UnitTest.EFRepositoryContext.EFUnitTestRepositoryContext,PlatformUnitTest" name="Default">
    </register>
    
    <register type="Platform.Infrastructure.User.Repositories.IUserRepository,Platform.Infrastructure.User"
             mapTo=" Platform.Service.User.Repositories.UserRepository,Platform.Service.User">
    </register>

    <register type="Platform.Infrastructure.User.Interface.ITestService,Platform.Infrastructure.User"
           mapTo=" Platform.Service.User.Services.TestService,Platform.Service.User">
    </register>
  </container>
</unity>